<body>
    <br /><br />
    <form [formGroup]="billForm" (ngSubmit)="addBill()">
        <br /><br />

        <div class="container">
            <button class="btn btn-danger" style="float: right;" (click)="back()">Log Out</button>
            <h3>Bill Details</h3>

            <br />
            <div class="form-group">
                <label for="billId">Bill Id:</label>
                <input type="text" formControlName="billId" placeholder="Bill Id" name="billId" class="form-control"
                    id="billId" readonly>
                <div *ngIf="submitted && billForm.controls.billId.errors" class="error">
                    <div class="text-danger" *ngIf="billForm.controls.billId.errors.required">Bill Id is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="totalCost">Cost Per Item:</label>
                <input type="text" formControlName="totalCost" placeholder="totalCost" name="totalCost"
                    class="form-control" id="totalCost" readonly>
                <div *ngIf="submitted && billForm.controls.totalCost.errors" class="error">
                    <div class="text-danger" *ngIf="billForm.controls.totalCost.errors.required">Total Cost is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="totalItem">Quantity</label>
                <input type="text" formControlName="totalItem" placeholder="Enter quantity" name="totalItem"
                    class="form-control" id="totalItem">
                <div *ngIf="submitted && billForm.controls.totalItem.errors" class="error">
                    <div class="text-danger" *ngIf="billForm.controls.totalItem.errors.required">Total Item is required
                    </div>
                </div>
            </div>


            <button class="btn btn-success">Gererate Bill</button>&nbsp; &nbsp;
            <button class="btn btn-danger" type="reset">Reset</button>&nbsp; &nbsp;
            <br /><br />



            <table class="table table-dark table-bordered">
                <tr *ngIf="bills.length >0">
                    <th>Bill Id</th>
                    <th>Total Cost</th>
                    <th>Total Item</th>
                    <th>Delivery Address</th>
                    <th>Mode of Payment</th>
                </tr>
                <tr *ngFor="let bill of bills">
                    <td>{{bill.billId}}</td>
                    <td>{{bill.totalCost}}</td>
                    <td>{{bill.totalItem}}</td>
                    <td>{{buildingName}}, {{streetNo}}, {{area}}, {{city}}-{{pincode}}</td>
                    <td>COD</td>
                </tr>
            </table>
        </div>
    </form>
</body>