<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  </head>
		<body>
	<ul>
		<li style="float:left"><a  href="sign-up">Sign Up</a></li>
		<li style="float:left"><a href="sign-in">Sign in </a></li>
		<li style="float:left"><a href="admin-login">Admin Log In</a></li>
		<li style="float:left"><a href="#aboutus">About Us</a></li>
		<li style="float:left"><a href="#contact">Contact Us</a></li>
	</ul>
	

		<div class="w3-container w3-teal">
		</div>
	</body>
	<div class="container">
		<div class="main" id="aboutus">
			<img src="/assets/images/About.jpg">
		</div>
	</div>	
	<hr>
	<div class="container">
		<div class="main" id="contact">
			<img src="/assets/images/contact.jpg">
		</div>
	</div>
		<div class="footer">
			<p><b>This site is a copyright &copy; of Door Delights. 
				All rights are reserved here ..!</b></p>
		  </div>

</html>