<body>
<br /><br />
<div class="container">
  <h3>Customize your Cart</h3>
  <br />
  <form [formGroup]="cartForm" (ngSubmit)="addItemtoCart()">

    <div class="form-group">
      <label for="cartId">Cart Id:</label>
      <input formControlName="cartId" placeholder="Cart Id" name="cartId" class="form-control" id="cartId" value="{{customerid}}" readonly>
      <div *ngIf="submitted && cartForm.controls.cartId.errors" class="error">
        <div class="text-danger" *ngIf="cartForm.controls.cartId.errors.required">Cart Id is required</div>
      </div>
    </div>
    <div formGroupName="customer">
      <div class="form-group">
        <label for="customerId">Customer Id:</label>
        <input formControlName="customerId" placeholder="Customer Id" name="customerId" class="form-control" id="customerId"
          value="{{customerid}}" readonly>
        <div *ngIf="submitted && cartForm.controls.customerId?.errors" class="error">
          <div class="text-danger" *ngIf="cartForm.controls.customerId?.errors.required">Customer Id is required</div>
        </div>
      </div>
    </div>
    <div formGroupName="items">
      <div class="form-group">
        <label for="itemId">Item Id:</label>
        <input formControlName="itemId" placeholder="Enter Item Id" name="itemId" class="form-control" id="itemId">
        <div *ngIf="submitted && cartForm.controls.itemId?.errors" class="error">
          <div class="text-danger" *ngIf="cartForm.controls.itemId?.errors.required">Item Id is required</div>
        </div>
      </div>

    </div>
    <button class="btn btn-success">Place Order</button>&nbsp; &nbsp;
    <button class="btn btn-danger" type="reset">Reset</button>&nbsp; &nbsp;

<br/><br/>
<table class="table table-light">
  <tr *ngIf="items.length >0">
      <th>Item Id</th>
      <th>Item Name</th>
      <th>Cost</th>
      <th>Category Name</th>
  </tr>
  <tr *ngFor="let item of items">
      <td>{{item.itemId}}</td>
      <td>{{item.itemName}}</td>
      <td>{{item.cost}}</td>
      <td>{{item.category.categoryName}}</td>
  </tr>
</table>
</form>
</div>